<div class="gamepage">
    <h1> Enemy Board </h1>
     <table>
        <div class="enemy-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>A</td>
                <div class="A">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>B</td>
              <div class="B">
                <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>C</td>
                <div class="C">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>

            </tr>
            <tr>
                <td>D</td>
                <div class="D">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>E</td>
                <div class="E">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>F</td>
                <div class="F">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>G</td>
               <div class="G">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>H</td>
              <div class="H">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>I</td>
              <div class="I">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>J</td>
               <div class="J">
                <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
        </table>
    </div><br>
    <h1> Friendly Board </h1>
    <table>
        <div class="home-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
            <tr>
                <td>A</td>
                <div class="A">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>B</td>
              <div class="B">
                <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>C</td>
                <div class="C">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>

            </tr>
            <tr>
                <td>D</td>
                <div class="D">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>E</td>
                <div class="E">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>F</td>
                <div class="F">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>G</td>
               <div class="G">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>H</td>
              <div class="H">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>I</td>
              <div class="I">
                    <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
            <tr>
                <td>J</td>
               <div class="J">
                <div class="1"> <td></td></div>
                    <div class="2"> <td></td></div>
                    <div class="3"> <td></td></div>
                    <div class="4"> <td></td></div>
                    <div class="5"> <td></td></div>
                    <div class="6"> <td></td></div>
                    <div class="7"> <td></td></div>
                    <div class="8"> <td></td></div>
                    <div class="9"> <td></td></div>
                    <div class="10"> <td></td></div>
                </div>
            </tr>
        </table>
    </div>
    <br>
    <div class="shotform">
        <%= form_for [@game, @coordinate], :url => game_shots_path(@game, @coordinate) do |f| %>
            <%= f.text_field :row, placeholder: "Input Row" %><br><br>
            <%= f.text_field :column, placeholder: "Input Column"  %><br><br>
            <%= f.submit "Fire!" %>
        <% end %>
    </div>
</div><br>

<input type="hidden" id="game_id" value="<%= @game.id %>">
