<div class="gamepage">
    <h1> Enemy Board </h1>
     <table>
        <div class="enemy-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
             <tr class="A">
                    <td>A</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="B">
                    <td>B</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
                <tr class="C">
                    <td>C</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="D">
                    <td>D</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="E">
                    <td>E</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="F">
                    <td>F</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="G">
                    <td>G</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="H">
                    <td>H</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="I">
                    <td>I</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="J">
                    <td>J</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
        </table>
    </div><br>
    <h1> Friendly Board </h1>
    <table>
        <div class="home-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
             <tr class="A">
                    <td>A</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="B">
                    <td>B</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
                <tr class="C">
                    <td>C</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="D">
                    <td>D</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="E">
                    <td>E</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="F">
                    <td>F</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="G">
                    <td>G</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="H">
                    <td>H</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="I">
                    <td>I</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
            <tr class="J">
                    <td>J</td>
                    <td class="1"></td>
                    <td class="2"></td>
                    <td class="3"></td>
                    <td class="4"></td>
                    <td class="5"></td>
                    <td class="6"></td>
                    <td class="7"></td>
                    <td class="8"></td>
                    <td class="9"></td>
                    <td class="10"></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="shotform">
        <%= form_for [@game, @coordinate], :url => game_shots_path(@game, @coordinate) do |f| %>
            <%= f.text_field :row, placeholder: "Input Row" %><br><br>
            <%= f.text_field :column, placeholder: "Input Column"  %><br><br>
            <%= f.submit "Fire!" %>
        <% end %>
    </div>
</div><br>

<input type="hidden" id="game_id" value="<%= @game.id %>">
