
<% @all_shots %>

<div class="gamepage">
    <h1> Enemy Board </h1>
     <table>
        <div class="enemy-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>

            <% ("A".."J").to_a.each do |row| %>
            <tr class=<%= row %>>
                <td><%= row %></td>
                <% (1..10).to_a.each do |column| %>
                    <% coordinate_id = Coordinate.find_by(row: row, column: column).id %>
                    <% if @all_shots.find_by(player_id: @current_player, coordinate_id: coordinate_id)%>
                        <% if @all_shots.find_by(player_id: @current_player, coordinate_id: coordinate_id).hit == true %>
                            <td class="<%= column %> hit"></td>
                        <% elsif @all_shots.find_by(player_id: @current_player, coordinate_id: coordinate_id).hit == false%>
                            <td class="<%= column %> miss"></td>
                        <% end %>
                    <% else %>
                        <td class=<%= column %>></td>
                    <% end %>
                <% end %>
            </tr>
            <% end %>
        </table>
    </div><br>


    <h1> Friendly Board </h1>
    <table>
        <div class="home-board">
            <tr>
                <td> </td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>

            <% ("A".."J").to_a.each do |row| %>
            <tr class=<%= row %>>
                <td><%= row %></td>
                <% (1..10).to_a.each do |column| %>
                    <% coordinate_id = Coordinate.find_by(row: row, column: column).id %>
                    <% if @all_shots.find_by(player_id: @enemy_player, coordinate_id: coordinate_id)%>
                        <% if @all_shots.find_by(player_id: @enemy_player, coordinate_id: coordinate_id).hit == true %>
                            <td class="<%= column %> hit"></td>
                        <% elsif @all_shots.find_by(player_id: @enemy_player, coordinate_id: coordinate_id).hit == false%>
                            <td class="<%= column %> miss"></td>
                        <% end %>
                    <% else %>
                        <td class=<%= column %>></td>
                    <% end %>
                <% end %>
            </tr>
            <% end %>
        </table>
    </div>
    <br>
    <div class="shotform">
        <%= form_for [@game, @coordinate], :url => game_shots_path(@game, @coordinate) do |f| %>
            <%= f.text_field :row, placeholder: "Input Row" %><br><br>
            <%= f.text_field :column, placeholder: "Input Column"  %><br><br>
            <%= f.submit "Fire!" %>
        <% end %>
    </div>
</div><br>

<input type="hidden" id="game_id" value="<%= @game.id %>">
